{% extends "galleries/base.html" %}
{% load thumbnail %}

{% block title %}{{ gallery.title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if not gallery.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if gallery.meta_description %}<meta name="description" content="{{ gallery.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}
  
  <h1>{{ gallery.heading }}</h1>
  {% if gallery.featured_content %}<div>{{ gallery.featured_content|safe }}</div>{% endif %}
  {% if gallery.content %}<div>{{ gallery.content|safe }}</div>{% endif %}
  
  {% spaceless %}{% for image in gallery.media.images %}
    {% if forloop.first %}<h2>Images</h2><ul>{% endif %}
    {% thumbnail image.get_image "200x200" as thumb %}
    <li><a href="{{ image.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ image }}" /></a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}
  
  {% spaceless %}{% for document in gallery.media.documents %}
    {% if forloop.first %}<h2>Documents</h2><ul>{% endif %}
    {% thumbnail document.get_image "200x200" as thumb %}
    <li><a href="{{ document.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ document }}" /></a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}
  
  {% spaceless %}{% for video in gallery.media.videos %}
    {% if forloop.first %}<h2>Videos</h2><ul>{% endif %}
    {% thumbnail document.get_image "200x200" as thumb %}
    <li><a href="{{ video.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ video }}" /></a></li>
    {% empty %}
    <li><a href="{{ video.get_absolute_url }}">{{ video }}</a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}
  
  {% spaceless %}{% for video in gallery.media.youtubevideos %}
    {% if forloop.first %}<h2>YouTube Videos</h2><ul>{% endif %}
    {% thumbnail document.get_image "200x200" as thumb %}
    <li><a href="{{ video.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ video }}" /></a></li>
    {% empty %}
    <li><a href="{{ video.get_absolute_url }}">{{ video }}</a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}
  
{% endblock %}

